<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выручка</title>
</head>
<body>
    <h1>Расчет выручки за смену</h1>

    <h1>Общая выручка: {{ total_revenue|default:"0.00" }}</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер стола</th>
            <th>Статус</th>
            <th>Итоговая сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for order in paid_orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table_number }}</td>
            <td>Оплачено</td>
            <td>{{ order.total_price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Нет оплаченных заказов</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>